#page-home {
    
    .text-author{
        display: flex;
        justify-content: center;
        margin-bottom: 30px;

        h1 {
            font: 700 40px 'Quicksand', sans-serif;
        }
    }
}